.gradient-background {
  background: linear-gradient(300deg,#146C94, #000000, #19A7CE);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
  color: #F6F1F1;
}
.foot{
  color: #F6F1F1;
}
.yt{
 color: #F6F1F1;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 0% 60%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
